{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ST. Dwi Tunggal</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'dist/assets/img/favicon-stdt.png' %}" />
  <!-- <link href="{% static 'dist/assets/img/favicon-stdt.png' %}" rel="icon">
  <link href="{% static 'dist/assets/img/favicon-stdt.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dist2/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'dist2/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dist2/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dist2/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'dist2/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dist2/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'dist2/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.11.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'dist/assets/img/favicon-stdt.png' %}" alt="">
        <span>ST. Dwi Tunggal</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="#about">Tentang</a></li>
          <li><a class="nav-link scrollto" href="#services">Kegiatan</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Dokumentasi</a></li>
          <li><a class="nav-link scrollto" href="#team">Pengurus</a></li>
          <li><a class="nav-link scrollto" href="#recent-blog-posts">Berita</a></li>
          <li><a class="nav-link scrollto" href="#location">Lokasi</a></li>
          <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
          <li><a class="getstarted scrollto" href="{% url 'signin' %}">Sign In</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Sistem Informasi</h1>
          <h1 data-aos="fade-up">Sekaa Teruna Dwi Tunggal</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Br. Gadon Kerobokan Kaja, Kuta Utara, Badung - Bali</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Selengkapnya</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'dist2/assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      {% for i in dataT %}

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Tentang</h3>
              <h2>Sekaa Teruna Dwi Tunggal</h2>
              <p>
                {{i.deskripsi_tentang_company}}
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img  src="{{ i.image_tentang_company.url }}" class="img-fluid" alt="">
          </div>
  
        </div>
      </div>
      {% endfor %}

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Visi Organisasi</p>
        </header>

        <div class="row">

          {% for i in dataV %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{{ i.image_visi_company.url }}" class="img-fluid" alt="">
              <h3>{{i.title_visi_company}}</h3>
              <p>{{i.deskripsi_visi_company}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Kegiatan Tahunan</p>
        </header>

        <div class="row gy-4">

          {% for i in dataK %}

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <img src="{{ i.image_kegiatan_company.url }}" class="img-fluid" alt="">
              <p></p>
              <h3>{{i.title_kegiatan_company}}</h3>
              <p>{{i.deskripsi_kegiatan_company}}</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Dokumentasi Kegiatan</p>
        </header>

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'dist2/assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'dist2/assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'dist2/assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'dist2/assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'dist2/assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'dist2/assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'dist2/assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'dist2/assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'dist2/assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'dist2/assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'dist2/assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'dist2/assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Pengurus Organisasi</p>
        </header>

        <div class="row gy-4">

          {% for i in dataP%}

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ i.image_pengurus_company.url }}" class="img-fluid" alt="">
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>{{i.nama_pengurus_company}}</h4>
                <span>{{i.jabatan_pengurus_company}}</span>
                <p><b>Periode {{i.periode_mulai_company}} - {{i.periode_berakhir_company}}</b></p>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Berita Terkini</p>
        </header>

        <div class="row">
          {% for i in dataB %}
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{ i.image_berita.url }}" class="img-fluid" alt=""></div>
              <span class="post-date">{{i.date_berita}}</span>
              <h3 class="post-title">{{i.judul_berita}}</h3>
              <span style="display:inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 200ch;">
                {{i.deskripsi_berita}}
              </span>
              <span class="class-span">{{i.deskripsi_berita}}</span>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
              <script>
                 $(document).ready(function ()
                    { $(".class-span").each(function(i){
                          var len=$(this).text().trim().length;
                          if(len>100)
                          {
                              $(this).text($(this).text().substr(0,100)+'...');
                          }
                      });
                  });
              </script>
              <a onclick="location.href='/blogDetail/{{i.id_berita}}';" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          {% endfor %}
      </div> 
      <div class="d-flex justify-content-center" style="margin-top: 30px;">
        <a  href="{% url 'blog' %}">
          <button type="button" class="btn position-relative text-white" style="background: #2A66D7;">
            Lihat Berita Lainnya 
          </button>
        </a>
      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Location Section ======= -->
    <section id="location" class="location">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Lokasi</p>
        </header>
        
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63111.66958572327!2d115.12886925351641!3d-8.645876452543506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd238a35230fc77%3A0x94f49487a2b626a!2sBalai%20Banjar%20Gadon!5e0!3m2!1sen!2sid!4v1674994612366!5m2!1sen!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Sekaa Teruna Dwi Tunggal</h2>
          <p>Kontak Narahubung</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">
            
            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>{{dataN.address_narahubung}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+62 {{dataN.phonenumber_narahubung}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>{{dataN.email_narahubung}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>{{dataN.clock_narahubung}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <form action="" method="POST" >
              {% csrf_token %} 
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name_sender_company" class="form-control" placeholder="Your Name" value="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email_address_sender_company" placeholder="Your Email" value="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject_email_sender_company" placeholder="Subject" value="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message_email_sender_company" rows="6" placeholder="Message" value=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn position-relative text-white" style="background: #2A66D7;" value="Simpan">
                    Send Message
                  </button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright">
        &copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Copyright <strong><span>ST. Dwi Tunggal</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <div class="entry-meta">
          <div class="social">
            Follow Us 
            <a href="https://www.facebook.com/sekaateruna.dwitunggal"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/stdwitunggal/"><i class="bi bi-instagram"></i></a>
          </div>
      </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'dist2/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'dist2/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'dist2/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dist2/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'dist2/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'dist2/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'dist2/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dist2/assets/js/main.js' %}"></script>

</body>

</html>