<!DOCTYPE html>
<html>
<head>
    <title> EXPORT PDF FILE</title>
    <style type= "text/css">
    body {font-family: 'Times New Roman', Times, serif; background-color : #ccc }
    .rangkasurat {
        width : 900px;
        margin:0 auto; 
        background-color : #fff;
        height: 1200px;
        padding: 20px; 
    }
    .rangkaheader {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }
    table {border-bottom : 5px solid #0000; padding: 0px;}
    .tengah {text-align : center;line-height: 5px;}
     </style >
</head>
<body>
<div class = "rangkasurat">
    <div class="rangkaheader">
        <table width = "100%">
            <tr>
                  <td> <img src="favicon-stdt.png" width="140px" > </td>
                  <td class = "tengah">
                        <h4 style="font-weight:normal;">ST. DWI TUNGGAL</h3>
                        <h4 style="font-weight:normal;">BANJAR GADON, DESA ADAT KEROBOKAN KELURAHAN KEROBOKAN</h3>
                        <h4 style="font-weight:normal;">KAJA, KECAMATAN KUTA UTARA, KABUPATEN BADUNG</h3>
                        <p style="font-size: 14px;">Jl. Raya Gadon, Kerobokan Kaja, Kuta Utara</p>
                        <p style="font-size: 14px;">Email : stdwitunggal@gmail.com</p>
                  </td>
             </tr>
      </table >
      <hr style="height:3px;border-width:0;color:black;background-color:black">
    </div>
</body>
</html>