{% extends "basesekretaris.html" %}
{% block konten %}
{% load static %}
<main>
    <!-- Main page content-->
    <div class="container mt-5">
        <!-- Custom page header alternative example-->
        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
            <div class="mr-4 mb-3 mb-sm-0">
                <h1 class="mb-0">Dashboard Data Rapat</h1>
                <div class="small">
                    <p id="date"></p>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    const d = new Date();
                    let date = d.toDateString();
                    let time = d.toLocaleTimeString();
                    document.getElementById("date").innerHTML = date + ' ' + time;
                </script>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 1-->
                <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-primary h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-primary mb-1">Jumlah Rapat Bulanan</div>
                                <div class="h5">{{countDataRB}}</div>
                            </div>
                            <div class="ml-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 2-->
                <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-secondary h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-secondary mb-1">Jumlah Rapat Pengerampungan</div>
                                <div class="h5">{{countDataRP}}</div>
                            </div>
                            <div class="ml-2"><i class="fas fa-tag fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <!-- Dashboard info widget 4-->
                <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-info h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-info mb-1">Jumlah Rapat Internal</div>
                                <div class="h5">{{countDataRI}}</div>
                            </div>
                            <div class="ml-2"><i class="fas fa-percentage fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Example DataTable for Dashboard Demo-->
        <div class="card mb-4">
            <div class="card-header">Tambah Data Rapat</div>
             <div class="card-body">
                 <form method="POST">
                     {% csrf_token %} 
                     <div class="form-group">
                         <label class="small mb-1" for="inputNamaAgenda">Nama Agenda</label>
                         <input class="form-control py-4" id="inputNamaAgenda" type="text" placeholder="Masukkan Nama Agenda" name="nama_agenda" value=""/>
                     </div>
                     <div class="form-group">
                         <label class="small mb-1" for="inputJenisAgenda">Jenis Agenda</label>
                        <select class="form-control" id="inputJenisAgenda" name="id_jenis_agenda">
                            {% for data in dataJA %}
                                <option value="{{data.id_jenis_agenda}}">{{data.nama_jenis_agenda}}</option>
                            {% endfor %}  
                        </select>
                     </div>
                     <div class="form-group">
                         <label class="small mb-1" for="inputDeskripsiAgenda">Deskripsi Agenda</label>
                         <input class="form-control py-4" id="inputDeskripsiAgenda" type="text" placeholder="Masukkan Deskripsi Agenda" name="deskripsi_agenda" value=""/>
                     </div>
                     <div class="form-group">
                        <label class="small mb-1" for="inputHasilAgenda">Hasil Agenda</label>
                        <input class="form-control py-4" id="inputHasilAgenda" type="text" placeholder="Masukkan Hasil Agenda" name="hasil_agenda" value=""/>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputIuranRapat">Jumlah Iuran</label>
                        <select class="form-control" id="inputIuranRapat" name="id_iuran">
                            {% for data in dataI %}
                                <option value="{{data.id_iuran}}">{{data.jumlah_iuran}}</option>
                            {% endfor %}  
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputTanggalAgenda">Tanggal Agenda</label>
                        <input class="form-control py-4" id="inputTanggalAgenda" type="datetime-local"  name="tanggal_agenda" value=""/>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button class="btn btn-primary" type="submit" value="Simpan dan Generate Absensi">Simpan dan Generate Absensi</button>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('button').prop('disabled', true);
                            $('.form-control').on('change', function () {
                                var namaAgenda = $("#inputNamaAgenda").val();
                                var jenisAgenda = $("#inputJenisAgenda").val();
                                var deskripsiAgenda = $("#inputDeskripsiAgenda").val();
                                var iuranRapat = $("#inputIuranRapat").val();
                                var tanggalAgenda = $("#inputTanggalAgenda").val();
                                if (namaAgenda != '' && jenisAgenda != '' && deskripsiAgenda != '' && inputIuranRapat != '' && tanggalAgenda != '') {
                                    $('button').prop('disabled', false);
                                } else {
                                    $('button').prop('disabled', true);
                                }
                            });
                        });
                    </script>
                 </form>
             </div>
        </div>
    </div>
</main>
{% endblock konten %}
